*.iml
.idea/
.gradle/
local.properties

/build/
**/build/

*.log
*.keystore
captures/
.externalNativeBuild/

app/app/release
app/app/src/main/assets
app/app/src/main/assets
app/app/src/main/java/com/juancavr6/regibot/utils/Loader.java

*.apk
*.ap_

.gradle/
**/out/

lint/reports/
lint/intermediates/
